body {
    background-color: #0E1826;
    font-family: "obvia", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F5DCB4;
}

.GridContainer {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 16.66% 16.66% 16.68% 16.68% 16.66% 16.66%;
}

.NavColor {
    grid-row: 1;
    grid-column: 1 / span 6;
}

.NavBar {
    grid-row: 1;
    grid-column: 1 / span 6;
    background-color: #7B0200;
    font-family: "obvia", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: -10px;
    text-align: center;
    align-items: center;
}

#leftImg {
    height: 75px;
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    left: 0px;
    padding: 0px 10px 10px;
    margin-top: 5px;

}

#rightImg {
    height: 70px;
    position: absolute;
    right: 0px;
    padding: 0px 10px 10px;
    margin-top: 5px;
}


.NavBar a {
    text-decoration: none;
    color: #F5DCB4;
    padding: 30px 20px;
    font-size: 20px;
    display: inline-block;
}

.NavBar a:hover {
    animation: fadeIn 0.5s both;
}

@keyframes fadeIn {
    0% {
        background: #7B0200;
    }

    10% {
        background: radial-gradient(#F5A851, #F2490C, #7B0200 7%);
    }

    20% {
        background: radial-gradient(#F5A851, #F2490C, #7B0200 14%);
    }

    30% {
        background: radial-gradient(#F5A851, #F2490C, #7B0200 21%);
    }

    40% {
        background: radial-gradient(#F5A851, #F2490C, #7B0200 28%);
    }

    50% {
        background: radial-gradient(#F5A851, #F2490C, #7B0200 35%);
    }

    60% {
        background: radial-gradient(#F5A851, #F2490C, #7B0200 42%);
    }

    70% {
        background: radial-gradient(#F5A851, #F2490C, #7B0200 49%);
    }

    80% {
        background: radial-gradient(#F5A851, #F2490C, #7B0200 56%);
    }

    95% {
        background: radial-gradient(#F5A851, #F2490C, #7B0200 63%);
    }

    100% {
        background: radial-gradient(#F5A851, #F2490C, #7B0200 70%);
    }

}

.Footer {
    font-size: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #F5DCB4;
}

#IntroVid {
    grid-row: 2;
    grid-column: 3 / span 6;
    padding-top: 20px;
    width: 100%;

}

#IntroText {
    grid-row: 2;
    grid-column: 1 / span 2;
    color: #F5DCB4;
    font-size: 18px;
    padding: 10px;
}

#IntroTable {
    grid-row: 3;
    grid-column: 1 / span 6;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
}

#IntroTable tr td {
    border: 3px solid #7B0200;
}

#IntroTable tr td a {
    color: #F2490C;
    text-decoration: none;
}