body{
    background-color: whitesmoke;
}

.GridContainer{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto 25%;
}

.GridItem{
    background-color: lightgray;
    font-size: 20px;
    padding: 20px;
}

.NavBar{
    grid-row: 1;
    grid-column: 1 / span end;
}

.Nav{
    list-style: none;
    background-color: darkgrey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

ul.Nav li{
    float: left;
}

ul.Nav li a{
    text-decoration: none;
    padding: 8px 10px;
    display: block;
    color:black;

}

ul.Nav li a:hover{
    background-color: lightgrey;

}

.MainImage{
    grid-row: 2;
    grid-column: 1 / span 3;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgrey
}

.Main1{
    grid-row: 3;
    grid-column: 1 / span 2;
    text-size-adjust: 20px;
}

.Main2{
    grid-row: 4;
    grid-column: 1 / span 2;
}

.Sub1{
    grid-column: 1;
}


.Sub2{
    grid-column: 2;
}

.SideNav{
    grid-row: 3 / span 4;
    grid-column: 3;
}

.SideNav a{
    text-decoration: none;
    color: teal;
    font-size: 20px;
    display: block;
}

.SideNav li{
    list-style-type: none;
    padding-top: 20px;
}

.Footer{
    font-size: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: white;
}

/*Page 2*/

.image1{
    grid-column: 1 / span 3;
    grid-row: 2;
    padding: 0%;
}

.desc1{
    grid-column: 4;
    grid-row: 2;
    text-align: center;
    font-size: 25px;
    background-color: silver;
    padding: 10px;
}

.image2{
    grid-column: 2 / span 3;
    grid-row: 3;
    padding: 0%;
}

.desc2{
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    font-size: 23px;
    background-color: silver;
    padding: 10px;
}