.GridContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1 auto 25%;
}

.topnav {
    background-color: #033859;
    grid-row: 1;
}

.topnav a {
    float: left;
    background-color: #033859;
    color: #D9A441;
    padding: 1%;
    text-decoration: none;
    font-size: 100%;
    font-family: "new-zen", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.topnav a:hover {
    background-color: #BF8641;
    color: #F0EBF2;
}

body {
    background-color: #024959;
}

.TheRest {
    grid-row: 2;
}

p {
    font-size: 17px;
    color: #F0EBF2;
    text-decoration: none;
    font-family: "new-zen", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#bodylink a {
    text-decoration: none;
    color: #BF8641;
}

.Links {
    grid-row: 3;
}