/* Color palette: 
#03A6A6 Teal
#ECF2E9 White-ish
#6E8C2E Moss Green
#F2A516 Light Orange
#F2911B Dark Orange
*/

div{
    font-family: alfabet, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.GridContainer {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto auto 25%;
}

.NavBar {
    grid-row: 1;
    grid-column: 1 / span 2;
    margin: -8px;
    padding: 0px;
    background-color: #6E8C2E;
}

.NavBar li{
    display: inline-block;
}

.NavBar li a {
    padding: 10px 8px;
    font-size: 25px;
    text-decoration: none;
    color: #ECF2E9;
    display: block;
}

.NavBar li a:hover {
    background-color: #ECF2E9;
    color: #6E8C2E;
}

.Footer {
    font-size: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: white;
}