div{ 
    font-family: Verdana;
    } 
/* I used chatgpt to figure out how to parent condintions I had:
        div{
            a:link{
                (CSS code yada yada yada)
            }
        }
    it was changed to 

        div a:link{
            (CSS code yada yada yada)
        }

    I still wrote all the css code, just to be clear
        */
div a:link{
    color:rgb(255, 204, 0);
    background-color: transparent;
    text-decoration: none;
    padding: 10px;
    display:inline-block           
}

div a:visited{
    color:rgb(255, 204, 0);
    background-color: transparent;
    text-decoration: none;
    padding: 10px;
    display:inline-block
}

div a:hover{
    color:rgb(48, 50, 169);
    background-color:rgb(255, 204, 0);
    text-decoration: none;
    padding: 10px;
    display:inline-block                    
}

p{
    font-family: Verdana;
}
p a:link {
    color:rgb(255, 204, 0);
    background-color: transparent;
    text-decoration: none;
    }
                
p a:visited {
    color:rgb(255, 204, 0);
    background-color: transparent;
    text-decoration: none;
}

body{
    background-color:rgb(193, 193, 193)
}
